.logo{
    max-width: 200px;
}


  
@media(max-width: 800px){
    .logo{
        max-width: 107px;
    }
}

.menu{
    width: 100%;
    height: 92px;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: white;
    border-bottom: 2px solid rgb(18, 7, 78);

}

body{
    --bodyPaddingTop: 94px;
    padding-top: var(--bodyPaddingTop);
}

@media (max-width: 800px){
    .menu{
        height: 40px;
        justify-content: center;
    }
    body{
        --bodyPaddingTop: 40px;
        padding-top: var(--bodyPaddingTop);
    }
}



@media(max-width: 800px){
    a.button-link{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: white;
        border-radius: 0;
        border: 0;
        text-align: center;
    }
}

