*{
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  :root{
    --primary: rgb(23, 68, 126);
    --black: #000;
    --blackLighter: #9E9E9E;
    --blackLight: rgb(110, 110, 110);
    --blackMedium: #2b2a2a;
    --white: #fff;
    --frontEnd: #6BD1FF;
    --backEnd: #00C86F;
  }
  
  html,
  body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 244, 248);
  }
  
  a{
    color: inherit;
  }

  #page-default{
    min-height:   100vh;
    display: flex;
    flex-direction: column;
  }